

/* SKILLSETS SECTION STARTS */

.skillsets-title{
    width: 100%;
    margin-top: 0px;
}

.card{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
}

.cad-card, .graphics-card, .uiux-card{
    transition: 0.3s ease-out;
}

.cad-card:hover, .graphics-card:hover, .uiux-card:hover{
    transform: scale(1.05);
}

/* SKILLSETS SECTION ENDS */

/* PROJECTS SECTION STARTS */

.projects-title{
    width: 100%;
    margin-top: 40px;
}
.cad-projects-card, .graphics-projects-card, .uiux-projects-card{
    align-items: center;
    gap: 80px;
    display: flex;
}
.left-icon{
    width: 60px;
    margin-left: 0px;
    transition: .3s ease-out;
}
.left-icon:hover {
    transform: scaleX(1.5);
}
.cad-projects, .graphics-projects, .uiux-projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.project-card{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 10px;
    transition: .3s ease-out;
}
.cad-card1{
    background-color: rgba(31, 136, 241,.1);
}
.graphics-card1{
    background-color: rgb(136, 0, 136,0.1);
}
.uiux-card1{
    background-color: rgb(0, 130, 130,0.1);
}

.project-card:hover{
    transform: scale(1.1);
}

.more-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.more-img{
    height: 50px;
    width: auto;
    transition: .3s ease-out;
}
.more-img :hover{
    transform: scale(1.1);
}


/* PROJECTS SECTION ENDS */